<div class="row main__form">
    <form method="post" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="title" name="title" type="text" class="validate" value="<%= book.title %>" required>
                <label for="title">Название</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="description" name="description" type="text" class="validate" value="<%= book.description %>"
                       required>
                <label for="description">Описание</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="authors" name="authors" type="text" class="validate" value="<%= book.authors %>" required>
                <label for="authors">Автор</label>
            </div>
        </div>
        <div class="file-field input-field">
            <div class="btn blue">
                <span>Загрузить книгу</span>
                <input type="file" name="fileBook">
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <button class="btn waves-effect waves-light red" type="submit" name="action">Сохранить
            <i class="material-icons right">send</i>
        </button>
    </form>
</div>
