<nav>
    <div class="nav-wrapper nav blue">
        <a href="/" class="brand-logo"><i class="material-icons">auto_stories</i>Библиотека</a>
        <ul class="right hide-on-med-and-down">
            <li>
                <a href="/books/create" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
            </li>
            <li><a href="/user"><i class="material-icons">face</i></a></li>
        </ul>
    </div>
</nav>
