<div class="col s12">
    <hr/>
    <h4>Комментарии</h4>
    <div class="row">
        <form class="col s12 js-book__comment-form" method="post">
            <div class="row">
                <div class="input-field col s6">
                    <textarea id="textarea1" class="materialize-textarea" name="comment"></textarea>
                    <label for="textarea1">Комментарий...</label>
                </div>
                <div class="input-field col s6">
                    <button class="btn waves-effect waves-light blue" type="submit" name="action">Отправить
                        <i class="material-icons right">send</i>
                    </button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="col s12">
    <ul class="collection js-book__comment"></ul>
</div>
