<%- include("../partials/head", {title: title}) %>
<%- include("../partials/nav") %>
<div class="container">
    <h3>Вход</h3>
    <%- include("loginForm", {user: user}) %>
</div>
<%- include("../partials/footer") %>
