<%- include("../partials/head", {title: title}) %>
<%- include("../partials/nav") %>
<div class="container">
    <h3>Регистрация</h3>
    <%- include("signupForm", {user: user}) %>
</div>
<%- include("../partials/footer") %>
