<div class="row main__form">
    <form method="post" class="col s12" enctype="multipart/form-data">
        <div class="row">
            <div class="input-field col s12">
                <input id="username" name="username" type="text" class="validate" required>
                <label for="username">Логин</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="email" name="email" type="email" class="validate" required>
                <label for="email">Email</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="password" name="password" type="password" class="validate" required>
                <label for="password">Пароль</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12">
                <input id="confirmPassword" name="confirmPassword" type="password" class="validate" required>
                <label for="confirmPassword">Еще раз пароль</label>
            </div>
        </div>
        <button class="btn waves-effect waves-light red" type="submit" name="action">Регистрация
            <i class="material-icons right">send</i>
        </button>
        <p><a href="/user/login">Войти</a></p>
    </form>
</div>
